.toc{
	color:#e27c28;
	width: 20%;
	padding: 0 0 0 10px;
	font-family:"Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;	
	font: 1.4em/1.8em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	line-height:200%;
	left:-0.5em;
	
}

.toc ul li {
	list-style-type: none; 
	position: relative;
	}
.toc div {
	
	}


#splash{
  position relative;
  padding: 60px;
  width:300px; 
  background-color:#fff;
  text-align:left;
  margin:0px;
}

.rightHandSide h2 {
    font-size: 2em;
    color: #e27c28;
    position: relative;
    left:-0.5em;
	font-family:"Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
}
.byline {
clear:both;
}
.revision {
width:60%;
background-color:#ff0000;
}
#svg_logo {
background: url('/scrimmage/files/logo.png');
background-repeat:no-repeat;
margin-left:20px;
}
